# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio Files
*.VC.db
*.suo

# Unreal Files
/Binaries/
/Intermediate/
/Saved/