# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio Files
/.vs/
*.VC.db
*.VC.opendb
*.sdf
*.suo

# Unreal Files
/Build/
/Binaries/
/Intermediate/
/Saved/